extends ../../backend/_layout.jade

block title
	div Presidential Pitch

block presenter
	div Ahmed Thahir

block content
	section
		section
			aside.
				Starter
		section(vid="sound.mp4")
			aside.
				What do you hear?
				That sound...
				that right there, is the sound of us competing
		section(vid="video.mp4")
		section(vid="rev.mp4")
		//- https://www.youtube.com/watch?v=R_lVdrHnbYo 27-32
		aside.
			How do we get there?
			That's where I come in

	section.end
		h1 Who are you?
		aside.
			You must be thinking
			How is a computer student here?
			Let me take you through a journey
	section(img="day_1.jpg")
		aside.
			This was my first day.
			I joined as a photographer.
			Clearly, I was not at all dressed up for the occasion.
	section(img="interview_1.jpg")
		aside.
			I started off interviewing people for a documentary series
	section(img="interview_2.jpg")
	section(img="day_2.jpg")

	section(iframe="creative_dark.html")
		aside.
			Then, I was tasked with heading a creative team.

			I believe in clear workflows where there should be a handbook. This is what I made for the creative team in February.
			
			Even at my PS1 in Revenue Optimization at Emirates Group, I learnt the importance of a "Standards and Procedures" team, which ensures that all the teams in the division follow the best practices. The explanation they gave is:

			> What's the point in having the latest and greatest tools, if you don't have the best practices to complement them.

			Let's back to the creative team. As we started getting a bigger social media presence, however, I started realizing one thing about the marketing we were doing.
			We should be spending more time on the quality of the main course, ie, the car. Rather than the marketing - which was supposed to be the side dishes.
	section(iframe="calc_dark.html")
		aside.
			One of my biggest principles is - Reproducible Research
			As in, any calculation/analysis should be performed in a way that anyone can come to the same result.

			Hence, I started programmatically verifying the calculations that were made by the team.
	section(iframe="Team_Size_Simulation.html")
		aside.
			Going along with the reproducibility topic,
			I wanted to prove that having small isolated teams part of a big division is better than just having one large team.
	section(iframe="competition_survey.html")
		aside.
			In preparation for the upcoming season, using data from FSG Netherlands, I found the best teams we can ask for help.
	
	section
		section.cover(img="journey.jpg")
			h1 Proposal
			aside.
				Okay well, good talk Thahir
				But how are you planning on improving for next year.
		section
			h1 Activities
			p.f Priyank Sir
			ul
				li Weekly Group Watching
				ul
					li Netflix - Drive to Survive
					li Seeker - Light Speed
				li Expert Talks
				li Internal Competitions - 
					span Best design 
					span Cash Prizes
		section
			h1 Phases
				span  - Deadlines
			table
				thead
					tr
						th Sem
						th Internal Goal
						th External Goal
				tbody
					tr
						td 1
						td Design
						td Pre-Marketing
					tr
						td 2
						td Prototype
						td Early-Buyers Pitch
					tr
						td 3
						td Assembly
						td Sponsors Signing
					tr
						td 4
						td Testing
						td More sponsors
		section(img="hierarchy.svg")

	section
			h1 
			ul
				li Calculative
					br
					span Engineers 
					br
					span.str Dream
					span  Reality
				li Updates
					table
						thead
							tr
								th Frequency
								th Update Type
						tbody
							tr
								td Daily
								td Documentation
							tr
								td Weekly
								td Briefing
							tr
								td Monthly
								td Brochure

			aside.
				> We are engineers, not philosophers
				> We don't just dream, we make them a reality

	section
		h1 What's the catch?
		p.f What are you benefiting from all this?
		p.f Startup 
			span - apply concepts

	section.end
		h1
			span Different 
			span Perspective
		aside.
			When there's 10 people looking at a light pole saying that it's just a line, 1 person goes around shows that it's actually a cylinder...
			That's what you'd get with as President.
			Because, sometimes, all you need is a
			**different perspective**
	
	section.cover(img = "applause.jpg")
		h1 (applause)

block appendix
	section
		h1 But you aren't mech
	section
		h1 You abandoned the team at the end
