extends ../../backend/_layout.jade

block title
	div(style="font-size: 0.8em") Department of General Sciences
block presenter

block content
	section
		video(data="physics.mp4", style="display: inline-block; width: 50px")
		br
		video(data="chemistry.mp4", style="display: inline-block; width: 30px")
		video(data="math.mp4", style="display: inline-block; width: 30px")
