section
	section(img = "danielCell.png", data-autoslide = "5000")
	section
		h1 Daniel Cell
		table.nf
			//- thead
				th Terminal
				th Reaction
			tbody
				tr
					td Cell Representation
					td $\rm{Zn/Zn^{2+} || Cu^{2+}/Cu}$
				tr
					td Anode Reaction
					td $\rm{Zn \to Zn^{2+} + 2 \bar e}$
				tr
					td Cathode Reaction
					td $\rm{Cu^{2+} + 2 \bar e \to Cu}$
				tr
					td Net Cell Reaction
					td $\rm{Zn + Cu^{2+} ⇌ Zn^{2+} + Cu}$
section
	section(img = "water.png")
	section(img = "fat.png")
	section(img = "protein.png")
	section
		h1 Milk