extends ../../backend/_layout.jade

block settings
	script.
		Reveal.configure({
			controls: true,
			toolbar: {
				fullscreen: true
			}
		});

block opening

block content
	section
		section(img = "danielCell.png", data-autoslide = "5000")
		section
			h1 Daniel Cell
			table.nf
				tbody
					tr
						td Cell Representation
						td $\rm{Zn/Zn^{2+} || Cu^{2+}/Cu}$
					tr
						td Anode Reaction
						td $\rm{Zn \to Zn^{2+} + 2 \bar e}$
					tr
						td Cathode Reaction
						td $\rm{Cu^{2+} + 2 \bar e \to Cu}$
					tr
						td Net Cell Reaction
						td $\rm{Zn + Cu^{2+} ⇌ Zn^{2+} + Cu}$
		section(vid = "danielCellAnimationShort.webm", data-autoslide = "7500")
	section
		section
			h1 Components of Milk
			.rs
				img(data="water.svg")
				img(data="fat.svg")
				img(data="protein.svg")
		section(vid = "milkDispersion.webm")
		section(vid = "milkInteractions.webm")
block thanks