extends ../../backend/_layout.jade

block autoSlide
	script.
		Reveal.configure({
			autoSlide: 2000,
			loop: true
		});

block opening

block content
	section.cover(img="experiment.jpg")
		h1 General Chemistry
	section
		section(img = "danielCell.png", data-autoslide = "5000")
		section(vid = "danielCellAnimationShort.webm", data-autoslide = "7500")
	section
		section(vid = "milkDispersion.webm")
		section(vid = "milkInteractions.webm")
block thanks