extends ../../backend/_layout.jade

block title
	div(style="font-size: 0.6em") Sustainability & <br/> Renewable Resources

block presenter
	div Anmol, Haneen, Prithvi, Thahir

block content
	section.full(img="bulb.jpg")
		
	section.cover(img = "sustainability.jpg")
		h1 Sustainability
		aside.
			Energy usage that
			- meets the needs of the present
			- without compromising the needs of future generations
	section
		section.cover(img = "renewable.jpg")
			h1 Renewable Resources
			aside.
				A renewable resource is a resource which
				- can be used repeatedly
				- is replaced naturally
		section
			h1 Renewable Resources
			.rs
				img(data = "types/dam.png")
				img(data = "types/geothermal.png")
				img(data = "types/tidal.png")
				img(data = "types/biomass.png")
				img(data = "types/wind.png")
				img(data = "types/solar.png")
			aside.
				1. Hydro-electric
				2. Geothermal
				3. Tidal
				4. Biomass
				5. Wind
				6. Solar
	section.cover(img = "solar.jpg")
		h1 Solar Energy
		aside.
			- Solar energy is the energy harvested from the sun.
			- In this presentation, we have focused only solar energy due to time constraints
	section
		section.cover(img = "saudi.jpg")
			h1 Saudi Arabia
		section(img="alaudeen.jpg")
		section
			h1 Saudi Arabia
			ul
				li Khali Alaudeen
				li 60 GW 
				li 2030 - 60% of total energy from solar
				li 3 Areas
					ul
						li Decarbonization
						li Digitalization
						li Decentralization
				li Predictive Maintainance
				li Drone-based Surveillance

	section
		section.cover(img = "cochin_airport.jpg")
			h1 Cochin Airport
			aside.
				- 
		section.full(img = "full_airport.jpg")
		section
			h1 Cochin Airport
			ul
				li 7<sup>th</sup>-busiest airport in India
				li 2015  
					span - World's first fully solar-powered airport
				li 12 MW powerplant 
					span in 45 Acres
					span , meeting daily requirement of 48K units of power
				li VJ Kurian
		section(img = "vj-kurian.jpg")
		section
			h1 Cochin Airport
			ul
				li Emission savings
					span , eliminating 300K metric tons of Carbon 
					span ≈ Planting 3M Trees
				li 2018 - 
					span UN awarded 
					span 'Champion of the Earth Award'

	section
		section.cover(img="conclusion.jpg")
			h1 Conclusion
		section(img="evs_wordcloud.png")
		section
			h1 Limitations
			ul
				li Political Factors 
					span - Businesses
				li Only 20% sunlight
				li Uneven distribution of sunlight
				li Storage infrastructure
	section
		h1 Conclusion
		p.f Is a sustainable future possible?
		p.f What do you think?
	section.cover(img = "applause.jpg")
		h1 (applause)
	section(img="poster.png")
	section
		h1 Video
		a(href="https://drive.google.com/file/d/1PLZ07jJt9cmL2Y_Cb1Mu6BZD_-HFz3wB/view")
			img(data="thumbnail.png")