extends ../../backend/_layout.jade

block title
	div(style="font-size: 0.6em") Sustainability & <br/> Renewable Resources

block presenter
	div Anmol, Haneen, Prithvi, Thahir

block content
	section.full(img="bulb.jpg")
		
	section.cover(img = "sustainability.jpg")
		h1 Sustainability
		aside.
			Energy usage that
			- meets the needs of the present
			- without compromising the needs of future generations
	section
		section.cover(img = "renewable.jpg")
			h1 Renewable Resources
			aside.
				A renewable resource is a resource which
				- can be used repeatedly
				- is replaced naturally
		section
			h1 Renewable Resources
			.rs
				img(data = "types/dam.png")
				img(data = "types/geothermal.png")
				img(data = "types/tidal.png")
				img(data = "types/biomass.png")
				img(data = "types/wind.png")
				img(data = "types/solar.png")
			aside.
				1. Hydro-electric
				2. Geothermal
				3. Tidal
				4. Biomass
				5. Wind
				6. Solar
	section.cover(img = "solar.jpg")
		h1 Solar Energy
		aside.
			- Solar energy is the energy harvested from the sun.
			- In this presentation, we have focused only solar energy due to time constraints
	section
		section.cover(img = "saudi.jpg")
			h1 Saudi Arabia
		section(img="alaudeen.jpg")
		section
			h1 Saudi Arabia
			ul
				li Khali Alaudeen
				li 60 GW 
				li 2030 - 60% of total energy from solar
				li 3 Areas
					ul
						li Decarbonization
						li Digitalization
						li Decentralization
				li Predictive Maintainance
				li Drone-based Surveillance

	section
		section.cover(img = "cochin_airport.jpg")
			h1 Cochin Airport
			aside.
				- 
		section(img = "vj-kurian.jpg")
		section
			h1 Cochin Airport
			ul
				li VJ Kurian
				li 12 MW powerplant in 45 Acres
				li 50,000 units of power
				li Emission savings 
					span ≈ Planting 3M Trees
			aside.
				- 
	section
		section.cover(img="conclusion.jpg")
			h1 Conclusion
		section(img="evs_wordcloud.png")
		section
			h1 Limitations
			ul
				li Political Factors 
					span - Businesses
				li Only 20% sunlight
				li Uneven distribution of sunlight
				li Storage infrastructure
	section
		h1 Conclusion
		p.f Is a sustainable future possible?
		p.f What do you think?
	section.cover(img = "applause.jpg")
		h1 (applause)
	section(img="poster.png")
	