@font-face {
  font-family: "Montserrat";
  src: url("../../backend/fonts/Montserrat/Montserrat.ttf") format("truetype");
}
* {
  text-transform: initial !important;
}

section {
  text-align: left;
  font-family: "Montserrat";
}

.reveal .slide-background-content[style^=background-image] {
  -webkit-filter: contrast(115%) saturate(125%) brightness(50%);
          filter: contrast(115%) saturate(125%) brightness(50%);
}
.reveal h1 {
  font-size: 2em;
  font-family: "Montserrat";
  text-align: center;
}
.reveal h2 {
  font-family: "Montserrat";
}
.reveal ul,
.reveal ol {
  margin-left: 0;
}
.reveal ul + ul,
.reveal ul + ol,
.reveal ol + ol,
.reveal ol + ul {
  margin-top: 0.5em;
}
.reveal li {
  margin-left: 1em;
}
.reveal img,
.reveal video,
.reveal iframe {
  height: 13em;
  max-height: 13em;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-width: 100%;
}
.reveal img.fragment.visible:not(.current-fragment):not(.fragment:last-child),
.reveal video.fragment.visible:not(.current-fragment):not(.fragment:last-child),
.reveal iframe.fragment.visible:not(.current-fragment):not(.fragment:last-child) {
  opacity: 0;
}

.slide-number {
  right: 3vh !important;
  bottom: 3vh !important;
  font-size: 3vh !important;
  font-family: Montserrat !important;
}

.progress {
  min-height: 1.5vh !important;
}

.start,
.end,
.cover {
  height: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  position: absolute !important;
}

.cover h1 {
  margin: 0 auto 0 auto;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.2em;
}

.start h1 {
  font-size: 3em !important;
  text-align: left;
}
.start div {
  margin-top: 1em;
  font-style: italic;
}

.end {
  text-align: center !important;
}

.footer {
  text-align: center;
}

ul > .fragment, ol > .fragment, .eqn .fragment {
  color: rgba(255, 255, 255, 0.25);
}
ul > .fragment mark, ol > .fragment mark, .eqn .fragment mark {
  color: rgba(255, 255, 255, 0.25);
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.current-fragment {
  color: white !important;
}
.current-fragment mark {
  color: black !important;
  background-color: yellow !important;
}

.diagram-display {
  width: 75%;
  height: 50vh;
  max-height: 60% !important;
  padding: 20px;
  background: #ecf4f9;
  border-radius: 0.5em;
  margin: auto;
}
.diagram-display svg {
  width: 100%;
  height: 100%;
  margin: auto;
}

.diagram-data, .mermaid {
  display: none;
}

* {
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
}

.sharp {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

iframe, .inverted {
  -webkit-filter: saturate(200%) invert(1) contrast(85%) brightness(120%) hue-rotate(180deg) saturate(80%);
          filter: saturate(200%) invert(1) contrast(85%) brightness(120%) hue-rotate(180deg) saturate(80%);
}

iframe {
  z-index: 0;
}

img, video {
  z-index: 1;
  -webkit-filter: saturate(125%);
          filter: saturate(125%);
}

@media (min-width: 768px) {
  .reveal .controls {
    display: none !important;
  }
}