extends ../../backend/_layout.jade

block title
	h1.f Sports Analytics

block content
	section
		section.cover(img="journey.jpg")
			h1 Journey
			aside.
		section(img="sport360.jpg", menu = "Picture")
		section
			h1 Why?

	section
		section.cover(img="intro.jpg")
			h1 Introduction
			aside.
	section
		h1 Sports Analytics
		.rs
			img(s="flowchart.svg")
			img(s="venn.svg")
	
	section
		section.cover(img = "research.jpg")
			h1 My Research
		section
			h1 Objective
			ul.f The goal is to formulate a method
				li <b>not</b> for prediction
				li but rather 
					span to determine what truly <mark>produces</mark> effective outcomes
		section
			h1 Proposed Method
			ul
				li Concept of Causality
				li Economic Principles <span>- Inflation</span>
		section
			h1 Literature Gaps
			ul
				li

	section
		section.cover(img=".jpg")
			h1 Literature Review
		section
			h1 Statistics
			ul
				li Correlation <span>$\ne$ Causation</span>
				li Causal Analysis
				ul 
					li Causal Effect
					li Causal Mechanism
			aside.
				Causal Mechanism Learning is necessary to deeply provide
		section
			h1 Economics
			ul
				li Hyper Inflation
				ul
					li Pogba
					li Neymar
				li Real Cost <span> = Opportunity Cost</span>
		section
			h1 Math
			table
				thead
					tr
						th Algorithm
						th Working
				tbody
					tr
						td Linear Regression
						td $\theta_0 + \theta_1 x$
					tr
						td Polynomial Regression
						td $\theta_0 + \theta_1 x + \theta_2 x^2 + \dots$
					tr
						td Trees
						td Nodes with paramaters
					tr
						td Random Forests
						td Multiple Trees
					tr
						td Supported Vector Machines
						td Hyperplane

	section
		section.cover(img="work.jpg")
			h1 Practical Work
		section(menu="Jupyter"
						iframe="01.html")
		section(menu="Jupyter"
						iframe="02.html")