extends ../../backend/_layout.jade

block title
	h1.f Sports Analytics

block content
	section
		section.cover(img="journey.jpg")
			h1 Journey
		section
			h1 Sports
			img(s="sport360.jpg")
		section
			h1 Programming
			iframe(data-src="assets/programming.html")
		section
			h1 Economics
			ul.f Efficient outcomes
				li.f maximizing output
				li.f minimizing costs
		section
			h1 Data Analysis
			img(s="flowchart.svg")
		section(iframe="https://ourworldindata.org/grapher/anxiety-disorders-vs-income-inequality?zoomToSelection=true&minPopulationFilter=1000000&time=2019..latest&country=USA~ARE~BEL"
						fallback="anxiety-income.svg")
		section(iframe="https://ourworldindata.org/grapher/prevalence-of-anxiety-disorders-males-vs-females?zoomToSelection=true&minPopulationFilter=1000000&time=latest&country=USA~ARE~BEL"
						fallback="anxiety-gender.svg")
		
		section
			h1 Sports Analytics
			img(s="venn.svg")
		section
			h1 Why?
			ul
				li Intersection of interests
				li Solve problems
				li Small clubs
			aside.
				- Small clubs have to somehow compete with the big ones
	section
		section.cover(img="intro.jpg")
			h1 Introduction
			aside.
	
	section
		section.cover(img = "research.jpg")
			h1 My Research
		section
			h1 Objective
			ul.f The goal is to formulate a method
				li <b>not</b> for prediction
				li but rather 
					span to determine what truly <mark>produces</mark> effective outcomes
		section
			h1 Proposed Method
			ul
				li Concept of Causality
				li Economic Principles <span>- Inflation</span>
		section
			h1 Literature Gaps
			ul
				li

	section
		section.cover(img="review.jpg")
			h1 Literature Review
		section
			h1 Statistics
			ul
				li Correlation <span>$\ne$ Causation</span>
				li Randomized Testing
				li Causal Analysis
				ul 
					li Causal Effect
					li Causal Mechanism
			aside.
				Causal Mechanism Learning is necessary to deeply provide
		section
			h1 Economics
			ul
				li Hyper Inflation
				ul
					li Pogba
					li Neymar
				li Real Cost <span> = Opportunity Cost</span>
		section
			h1 Models
			table
				thead
					tr
						th Algorithm
						th Working
				tbody
					tr
						td Linear Regression
						td $\theta_0 + \theta_1 x$
					tr
						td Polynomial Regression
						td $\theta_0 + \theta_1 x + \dots + \theta_n x^n$
					tr
						td Logistic Regression
						td $g(\theta_0 + \theta_1 x) \\$
							span $g(z) = \frac1{ 1+e^{-z} }$
					tr
						td Decision Trees
						td Nodes - Parameters
					tr
						td Random Forests
						td Collection of Trees
					tr
						td Supported Vector Machine
						td Hyperplane
		section(img = "linearRegression.png")
		section(img = "polynomialRegression.png")
		section(img = "logisticRegression.jpg")

	section
		section.cover(img="work.jpg")
			h1 Practical Work
		section(iframe="01.html")
		section(iframe="02.html")