extends ../../backend/_layout.jade

block content
  section(menu="Jupyter"
          iframe="assets/01.html")
      aside.
        1. refugees seeking asylum **from** China
        1. play animation
        1. This doesn't even include all the tortured Uyghur muslims, which are reported to be in millions
        1. switch to map
        1. click progress bar for focus