@font-face {
  font-family: "Montserrat";
  src: url("../../backend/fonts/Montserrat/Montserrat.ttf") format("truetype");
}
* {
  text-transform: initial !important;
}

section {
  text-align: left;
  font-family: "Montserrat";
}

.reveal .cover .slide-background-content[style^=background-image] {
  -webkit-filter: contrast(115%) saturate(125%) brightness(50%);
          filter: contrast(115%) saturate(125%) brightness(50%);
}
.reveal .slide-background-content {
  -webkit-filter: saturate(125%);
          filter: saturate(125%);
}
.reveal h1 {
  font-size: 2em;
  font-family: "Montserrat";
  text-align: center;
}
.reveal h2 {
  font-family: "Montserrat";
}
.reveal ul,
.reveal ol {
  margin-left: 0;
}
.reveal ul + ul,
.reveal ul + ol,
.reveal ol + ol,
.reveal ol + ul {
  margin-top: 0.5em;
}
.reveal li {
  margin-left: 1em;
}
.reveal img,
.reveal video,
.reveal iframe {
  height: 13em;
  max-height: 13em;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-width: 100%;
}
.reveal .r-stack .fragment.visible:not(.current-fragment):not(.fragment:last-child) {
  opacity: 0;
}
.reveal .slide-number {
  right: 3vh;
  bottom: 3vh;
  font-size: 3vh;
  font-family: Montserrat;
}
.reveal .progress {
  min-height: 0.2em;
  -webkit-transition: min-height 0.1s ease-out;
  transition: min-height 0.1s ease-out;
}
.reveal .progress:hover {
  min-height: 0.5em;
}

.start,
.end,
.cover {
  height: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  position: absolute !important;
}

.cover h1 {
  margin: 0 auto 0 auto;
  padding: 0.5em;
  background-color: hsla(0deg, 0%, 0%, 0.75);
  border-radius: 0.2em;
}

.start h1 {
  font-size: 3em !important;
  text-align: left;
}
.start div > div {
  margin-top: 1em;
  font-style: italic;
}

.end {
  text-align: center !important;
}

.footer {
  text-align: center;
}

ul > th.fragmemt, ol > th.fragmemt, .eqn th.fragmemt, tr th.fragmemt {
  border: none !important;
}
ul > .fragment:not(th), ol > .fragment:not(th), .eqn .fragment:not(th), tr .fragment:not(th) {
  color: hsla(0deg, 0%, 100%, 0.25);
}
ul > .fragment:not(th) mark, ol > .fragment:not(th) mark, .eqn .fragment:not(th) mark, tr .fragment:not(th) mark {
  color: hsla(0deg, 0%, 100%, 0.25);
  padding: 0.1em;
  background-color: hsla(0deg, 0%, 0%, 0);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.current-fragment {
  color: hsl(0deg, 0%, 100%) !important;
}
.current-fragment mark {
  font-weight: bold;
  color: hsl(0deg, 0%, 0%) !important;
  background-color: hsl(60deg, 100%, 50%) !important;
}

.diagram-display {
  width: 75%;
  height: 50vh;
  max-height: 60% !important;
  margin: auto;
}
.diagram-display svg {
  max-width: 100% !important;
  width: 100% !important;
  height: 100%;
  margin: auto;
}

.diagram-data, .mermaid {
  display: none;
}

* {
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
}

.sharp {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.inverted,
iframe:not([src*=dark]) {
  -webkit-filter: saturate(200%) invert(1) contrast(85%) brightness(120%) hue-rotate(180deg) saturate(80%);
          filter: saturate(200%) invert(1) contrast(85%) brightness(120%) hue-rotate(180deg) saturate(80%);
}

iframe {
  z-index: 0;
}

img, video {
  z-index: 1;
  -webkit-filter: saturate(125%);
          filter: saturate(125%);
}

.reveal table {
  margin: auto;
  font-size: 0.8em;
  width: 100%;
  max-width: 100%;
}
.reveal table td {
  border: none;
}
.reveal table td, .reveal table th {
  padding: 0.2em 0.5em;
}

#qr {
  height: 15em;
  max-height: 15em;
  position: absolute;
  top: 1em;
}

.str {
  text-decoration: line-through;
}